/*BASIC RULES*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@media(min-width:550px) {
    html {
        font-size: 17px;
    }
}

@media(min-width:900px) {
    html {
        font-size: 18px;
    }
}

body {
    margin: 0;
    padding: 0;
}

h1 {
	text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: .5em auto;   
}

h2 {
	text-align: center;
    text-transform: uppercase;
    margin: 0.5em auto;
    font-size: 1.4rem;
}

h3 {
	text-align: center;
    margin: 0.6em auto;
    font-size: 1.2rem;
    font-weight: 500;
}

input {
    font-size: inherit;
    font-family: inherit;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

p {
    line-height: 1.4;
    font-size: 1.1rem;
}

/*STYLING*/

body {
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.note {
    font-size: 1rem;
    color: #d5d5d5;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.envelope {
    margin: 2em;
    position: relative;
    width: 51vw;
    max-width: 300px;
    max-height: 176px;
    height: 30vw;
    background: #ff5b1a;
    border-radius: 0 0 20px 20px;
    transition: 1s ease-in-out;
}
.letter {
    position: absolute;
    bottom: 10%;
    width: 80%;
    height: 80%;
    background: white;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    transition: .5s ease-in-out;
    padding: 20px;
    text-align: center;
}
.envelope .head-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20vw;
    max-height: 91px;
    background: rgb(192, 68, 23);
    transform-origin: top;
    transition: 0.5s linear;
    transition-delay: .2s;
    border-radius: 0 0 20px 20px;
    transform: rotateX(90deg);
}
.envelope .head-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20vw;
    max-height: 91px;
    background: #ff9c78;
    transition: 0.5s linear;
    transition-delay: .7s;
    transform-origin: top;
    border-radius: 0 0 20px 20px;
}
.envelope .body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 71%;
}
.left-triangle {
    background: linear-gradient(to top right, coral 60%, transparent 61%);
}
.right-triangle {
    background: linear-gradient(to top left, coral 60%, transparent 61%);
}
.body .bottom {
    background: coral;
    grid-column: auto / span 3;
    border-radius: 0 0 20px 20px;
}

.envelope:hover {
    transition: 0.5s ease-in-out;

    margin-top: 30vw;
}
.envelope:hover .letter {
    transition-delay: .6s;
    transform: translate(-50%, -40%);
}
.envelope:hover .head-top {
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transform: rotateX(90deg);
}
.envelope:hover .head-back {
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    transform: rotateX(180deg);
}

