BASIC RULES
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@media(min-width:550px) {
    html {
        font-size: 17px;
    }
}

@media(min-width:900px) {
    html {
        font-size: 18px;
    }
}

body {
    margin: 0;
    padding: 0;
}

h1 {
	text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: .5em auto;   
}

h2 {
	text-align: center;
    text-transform: uppercase;
    margin: 0.5em auto;
    font-size: 1.4rem;
}

h3 {
	text-align: center;
    margin: 0.6em auto;
    font-size: 1.2rem;
    font-weight: 500;
}

input {
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

p {
    line-height: 1.4;
    font-size: 1.1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* Styling */
:root {
    --light-blue: #161B22;
    --dark-blue: #0D1116;
    --white: #fff;
    --grey: #7F878E;
}
body {
    font-family: monospace, sans-serif;
    background: var(--dark-blue);
}
.carousel-container {
    border: 2px solid;
    background: var(--light-blue);
    display: flex;
    overflow: hidden;
    border-bottom: 2px solid var(--white);
}
.carousel {
    padding: 1em 0 1em 3em;
}
.line {
    display: inline-flex;
    gap: 3em;
}
.line:not(:last-child) {
    margin-bottom: 1em;
}
li {
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 12px;
    padding: .4em .2em;
    width: 170px;
    text-align: center;
    font-weight: bold;
}

.first {
    animation: carousel-animation infinite 20s linear;
}

.second {
    animation: carousel-animation infinite 20s linear;
}

.third {
    animation: carousel-animation infinite 20s linear;
}

.first .second-line {
    margin-left: calc(-85px - 3em);
    margin-right: calc(-85px - 3em);
}
.first .fourth-line {
    margin-left: calc(-85px - 3em);
    margin-right: calc(-85px - 3em);
}

.second .second-line {
    margin-left: calc(-85px - 1.5em);
    margin-right: calc(-85px - 3em);
}
.second .fourth-line {
    margin-left: calc(-85px - 1.5em);
    margin-right: calc(-85px - 3em);
}

.third .second-line {
    margin-left: calc(-85px - 1.5em);
    margin-right: calc(-85px - 3em);
}
.third .fourth-line {
    margin-right: calc(-85px - 3em);
    margin-left: calc(-85px - 1.5em);
}


@keyframes carousel-animation {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

.logo {
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid var(--white);
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 0.5em 1em;
    background-color: var(--light-blue);
    color: var(--white);
    /* transform: translateY(-3px); */
    letter-spacing: 2px;
    position: relative;
}
.logo::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    right: 0;
    height: 10px;
    background: var(--light-blue);
}
.bottom-section {
    padding: 0 1em 1em 1em;
}
.landing-description {
    margin: 3em auto;
    max-width: 650px;
    text-align: center;
}

.header {
    color: var(--white);
}
.description {
    color: var(--grey);
}
#usernameform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto 3em auto;
    max-width: 650px;
    gap: 1em;
}
#username {
    width: 70%;
    padding: .7em;
    border-radius: 10px;
    border: 1px solid var(--grey);
    background-color: var(--light-blue);
    font-size: 1.5rem;
    text-align: center;
}
button[type="submit"] {
    width: 70%;
    padding: .7em;
    border-radius: 10px;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
}